<div class="container">
    <div class="row">
       <div class="col-8">
           <h3>Edit Flight Details</h3>

 <%= render 'form' %>
 
 <%= link_to 'Back', flights_path, class: "btn btn-dark" %>

       </div> 
    </div>
</div>