<% if current_user.id == @book.user_id %>
<div class="container">
    <div class="row">
       <div class="col-8">
           <h3>Edit Booking Details</h3>

 <%= render 'form' %>
 
 <%= link_to 'Back', bookings_path, class: "btn btn-dark" %>

       </div> 
    </div>
</div>
<% else %>
<%= render 'layouts/alerts' %>
<% end %>