<!-- inside app/views/hello_mailer/welcome_email.html.erb -->
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Congratulations!!, <%= @email %></h1>
    <h3><strong>Your Flight ticket is booked successfully!!</strong></h3>
  </body>
</html>