<% if current_user.role.code == "admin" %>
<div class="container">
    <div class="row">
       <div class="col-8">
           <h3>Edit Ticket</h3>

 <%= render 'form' %>
 
 <%= link_to 'Back', tickets_path, class: "btn btn-dark" %>

       </div> 
    </div>
</div>
<% else %>
 <h2 style="color: red;">You are not authorised to access this page..</h2>
<% end %>