<h1>Airline Details</h1>
<br />
<table>
	<tr>
		<th>Airline Name</th>
	    <th>Airline Type</th>
	</tr>
	<tr>
		<td><%= @airline.name %></td>
	    <td><%= @airline.airline_type %></td>
	</tr>
	
</table>
