<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <strong>Alert!!!</strong> You are not authorised to access this page!!
  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>